*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #ddd;
    --global-border-radius: 3px;
    --box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
}

body {
    /* font-family: "Crimson Text", serif; */
    font-family: sans-serif;
}

@font-face {
    font-family: "harry-potter-regular";
    src: url("../fonts/harry-potter-webfont.woff2") format("woff2"), url("../fonts/harry-potter-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    background-color: #eee;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

button {
    cursor: pointer;
}

p {
    margin-bottom: 1rem;
}

p:last-child {
    margin-bottom: 0;
}

.fas {
    font-size: 2.5rem;
}

.o-container {
    max-width: 1200px;
    margin: 0 auto;
    padding-right: 2rem;
    padding-left: 2rem;
}

.c-button {
    padding: 1rem 1.5rem;
    background-color: #000;
    color: #fff;
    border-radius: var(--global-border-radius);
    border: 0;
    box-shadow: var(--box-shadow);
    display: inline-flex;
    justify-content: center;
    align-content: center;
}

.c-button > i {
    font-size: 1rem;
    margin-left: 0.5rem;
}

.c-button--inverted {
    background-color: #fff;
    background-color: #000;
}

.c-button--danger {
    background-color: red;
    color: #fff;
}

.c-button--danger:disabled {
    background-color: rgb(180, 0, 0);
}

.c-button--filter.is-active {
    background-color: #000;
    color: #fff;
}

.c-site-content {
    padding: 2rem 0;
}

.c-student-overview {
    overflow-x: scroll;
}

.c-filter-buttons {
    padding: 2rem 0;
}

.c-table {
    border-collapse: collapse;
    border-radius: var(--global-border-radius);
    box-shadow: var(--box-shadow);
    width: 100%;
}

.c-table__head {
    background-color: #4d4d4d;
    color: #fff;
}

.c-student__girl-icon {
    color: #ea7aa7;
}

.c-student__boy-icon {
    color: #7aa7ea;
}

.c-student__house-cell,
.c-student__prefect-cell,
.c-student__squad-cell {
    width: 80px;
}

.c-student__house-image,
.c-student__prefect-image,
.c-student__squad-image {
    max-height: 96px;
    margin: 0 auto;
}

.c-student__prefect-image,
.c-student__squad-image {
    filter: grayscale(1);
    cursor: pointer;
}

.c-student__prefect-image.is-active,
.c-student__squad-image.is-active {
    filter: none;
}

.c-student {
    border-top: 1px solid #ddd;
    background-color: #fff;
}

.c-table th,
.c-table td {
    padding: 0.75rem 1rem;
    text-align: left;
}

.c-table th.is-active {
    background-color: #000;
    color: #fff;
}

.c-student__profile-image {
    max-width: 60px;
}

.c-icon {
    max-width: 80px;
    max-height: 96px;
}

/* Student popup */
.c-student-popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
}

.c-student-popup.is-hidden {
    display: none;
}

.c-student-popup__badge-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.c-student-popup__badge {
    width: 80px;
    filter: grayscale(1);
}

.c-student-popup__badge.is-active {
    filter: none;
}

.c-student-popup__content {
    background-color: #fff;
    background-size: 10px 10px;
    position: relative;
    width: 95%;
    max-width: 700px;
    border-radius: var(--global-border-radius);
}

.c-student-popup__header {
    border-bottom: 1px solid #ddd;
    /* background-image: linear-gradient(to right, #740001 50%, #eeba30 50%); */
}

.c-student-popup__footer,
.c-student-modal__footer {
    border-top: 1px solid #ddd;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.c-student-popup__footer > * {
    flex-grow: 1;
}

.c-student-popup__footer > *:last-child {
    margin-bottom: 0;
}

.c-student-popup__header,
.c-student-popup__column,
.c-student-popup__footer,
.c-student-modal__header,
.c-student-modal__body,
.c-student-modal__footer {
    padding: 2rem;
}

.c-student-popup__column:first-child {
    margin-bottom: 1rem;
}

.c-student-popup__photo {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

.c-student-popup__name {
    text-align: center;
}

.c-student-popup__text {
    display: flex;
    flex-direction: row;
}

.c-student-popup__text > span {
    margin-left: auto;
    width: 30%;
    text-align: right;
}

.c-student-popup__text > span > i {
    font-size: 1rem;
}

.c-student-popup__action-field {
    display: flex;
    flex-direction: row;
}

.c-student-popup__close-button,
.c-student-modal__close-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: transparent;
    border: 0;
    width: 40px;
    height: 40px;
    font-size: 0.75rem;
}

.c-student-popup__close-button > i,
.c-student-modal__close-button > i {
    font-size: 2rem;
}

@media (min-width: 700px) {
    .c-student-popup__body {
        display: flex;
        flex-direction: row;
    }

    .c-student-popup__column {
        width: 50%;
    }

    .c-student-popup__column:first-child {
        margin-bottom: 0;
        border-right: 1px solid #ddd;
    }
}

/* Popup modal */
.c-student-modal {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.c-student-modal__header {
    padding-top: 114px;
    text-align: center;
}

.c-student-modal__body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.c-student-modal__column {
    width: 50%;
    text-align: center;
}

.c-student-modal__image {
    margin: auto auto 1rem;
}

.c-student-modal__name {
    margin-bottom: 1rem;
}

.c-student-modal__footer {
    margin-top: auto;
}

.c-student-modal__footer > .c-button {
    margin-left: auto;
}

.c-student-modal.is-hidden {
    display: none;
}

.c-student-modal .c-button span {
    margin-left: 0.25rem;
}

/**
*
*  Utilities
*
**/

.u-green {
    color: green;
}

.u-red {
    color: red;
}
